@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
  /* padding: 0px;
  margin: 0px; */
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

}

.Pagebar {
  display: flex;
  height: 2.4rem;
  margin: .5rem -.5rem;
  justify-content: flex-end ;
  align-items:flex-start;
  height: 4rem;
  background-color: #f0f0f0;
  width: 100%;
}

.Logo-2 {
  width: 4rem;
  height: 3.2rem;
  border-radius: 60%;
  margin-top:  .5rem;
  cursor: pointer;
}

.section3 {
    background-color: lightgray;
    width: 10%;
  
}
.section2 {
  background-color: #f0f0f0;
  width: 27.5%;

}
.section-Header {
    font-size: 3.8rem;
    margin-top: 1.5rem;
    line-height: 0.8em;
    font-weight: 600;
    text-align: center;
    font-family: Raleway, sans-serif;
    transition :0.4s;
    position: relative;
   animation: myfirst 4s 1;
   animation-direction: alternate;
   z-index: 1;
}

@keyframes myfirst {
  0%   {background: white; left: -600px; top: 0px;font-size:.8rem;color: darkgrey;}
  25%  {background: transparent; left: -500px; top: 0px;font-size:1rem;color:lightgray;}
  50%  {background: transparent; left: -400px; top:0px;font-size:2rem;color:darkgray;}
  75%  {background: transparent; left: -300px; top: 0px;font-size:3rem;color:darkslategrey;}
  100% {background: transparent; left: -200px; top: 0px;font-size:3.5rem;color: darkslategrey;}
}
  
.freash-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: .5rem;
    background-color: #f0f0f0;
    height: 23rem;
}

.freshheader {
    margin-top: 2rem;
    margin-left: 10rem;
    font-size: large;
    font-weight: 500;
    text-align: left;
    color: darkblue;
    padding: 1rem 1rem;
}
  
.fresh-description {
  font-size: smaller;
  text-align: left;
  font-weight: 400;
  padding-left: .2rem;
  margin-left: 9.1rem;
  margin-top: 1.5rem;
  width: 67%;
  
}

.imgback {
  width: 95%;
  height: 100%;
  margin-left:1.7rem;
  margin-top:  .01rem;
  background-color: #181515;
  box-shadow: 1px 2px 10px #f2f2f2
}

.card-img-1 {
    width: 27rem;
    height: 15rem;
    /* margin: .5rem .5rem; */
    margin-left: 5rem;
    margin-top: 1rem;
    background-color: white;
    border-radius:1rem ;
    /* padding: .5rem .5rem; */
}

.card-img {
  width: 12.4rem;
  height:15rem;
  margin: .8rem;
  border-radius: 1rem;
  cursor: pointer;
}

.bread-img {
    width: 15rem;
    height: 17rem;
    margin-top: 1rem;
    margin-left: 3rem;
    border-radius: 80%;
  }

.Baking-header {
    font-size: 3.8rem;
    font-weight: 550;
    text-align: center;
    margin-left: -2rem;
    margin-top: -1rem;
    padding: 3rem 3rem;
    color: #111111;
  }

  @media screen and (max-width: 992px) {
    .Baking-header {
      font-size:3.1rem ;
      font-weight: 600;
      margin-top: 15rem;
      text-align:center ;
    }
  }
  @media screen and (max-width: 600px) {
    .Baking-header {
      font-size:3.1rem ;
      font-weight: 600;
      margin-top: 25rem;
      text-align:center ;
    }
  }
.section-Baking {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 92%;
    height: 32rem;
    color: #111111;
    background-color: white;
    margin-left: 2rem;
    margin-top: -4rem;
}
  
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 10rem;
}

@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .freash-container {
     flex-direction: row;
  }
   .row {
    flex-direction: column;
  }
}

.Baking-card {
    color: #111111;
    background-color: white;
    width: 24rem;
    height: 5.1rem;
  }
  
  .Baking-title {
    font-size: large;
    font-weight: 500;
    text-align: left;
    color:darkblue;
    line-height:1.4rem ;
    padding: .1rem .1rem;
  }
  
  .Baking-descrption {
    font-size: small;
    text-align: left;
    font-weight: 400;
    padding-left: .1rem;
    margin-left: .1rem;
    width:24rem ;
    height:17rem;
  }

  @media screen and (max-width: 600px) {
   .Baking-descrption {
    margin-top: 1rem ;
    height: 30rem;
   }

  }

  .navfooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #1B2231;
    width: 100%;
    height: 8rem;
    margin-top: -12rem;
    margin-left: -.1rem;
  }

  .navfooter {
    flex: 25%;
 }
 
 @media screen and (max-width: 992px) {
   .navfooter {
     flex: 60%;
     margin-top:36rem ;
   }
 }
 
 @media screen and (max-width: 600px) {
   .navfooter {
     margin-top:48rem ;
     width: 34rem;
     height:15rem ;
     flex-direction: row;
     flex-wrap: wrap;
   }
 }

  .icon-img {
    width: 3rem;
    height: 3rem;
    margin: .5rem .5rem;
    margin-top:  2rem;
    /* margin-left:  4rem; */
    background-color: white;
    border-radius:50% ;
  }
    
  .footertitel {
    margin-top: -3.5rem;
    margin-left:3rem ;
   display: block;
   font-size:medium;
   color: #f2952d;
   text-align: center;
   padding: 2rem;
  }
  
  .navfooter a {
     cursor:pointer;
     color:#f2952d ;
     text-decoration:none ;
  }
  .footertite2 {
    margin-top: -2rem;
    margin-left: 2em;
    display: block;
    font-size: medium;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  